body {
    font-family: 'Poppins', sans-serif;
}

.learning-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learning-container {
    /*background: rgba(245, 245, 245, 0.85);*/
    /*background: rgba(220, 220, 220, 0.85);*/
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(25px);
    border-radius: 30px;
    padding: 60px;
    max-width: 800px;
    width: 90%;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.learning-text {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
}

.learning-image {
    width: 600px;
    height: 600px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.learning-button {
    transition: all 0.3s ease;
    font-size: 26px;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    min-width: 300px;
    text-align: center;
    display: block;
}

.learning-button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
    color: white;
}
